
body {

    height: 100vh;
}

.accueil {

    background: url(https://img.freepik.com/photos-gratuite/couleurs-vibrantes-tourbillonnant-dans-chaos-sous-marin-futuriste-genere-par-ia_188544-9692.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

}



